%h1
  Edycja klubu
  = @club.name.present? ? @club.name : @club.id

= semantic_form_for @club, :url => [@owner, @club], :method => :put do |f|
  = f.input :name, :label => "Nazwa:"
  = f.input :city, :label => "Miasto:"
  = f.input :post_code, :label => "Kod pocztowy:"
  = f.input :street, :label => "Ulica:"
  = f.input :description, :label => "Opis:"
  = f.submit :value => "Zapisz!"
