%h1
  = "Klub #{@club.id}"

#club_page
  #club_description
    = @club.description
  %ul
    - @tables.each do |c|
      %br
      %ul
        %li= link_to "Stół #{c.id}", owner_club_table_path(:owner_id => @owner.id, :club_id => @club.id, :id => c.id)
        %li= link_to "Usuń stół",    owner_club_table_path(:owner_id => @owner.id, :club_id => @club.id, :id => c.id), :class => 'destroy_table'
        %li= link_to "Edytuj stół",  edit_owner_club_table_path(:owner_id => @owner.id, :club_id => @club.id, :id => c.id)
  #club_actions
    = form_tag(create_tables_owner_club_path(:owner_id => @owner.id, :club_id => @club.id)) do
      = select_tag "table_count", options_for_select((1..10).collect {|v| [v]})
      = submit_tag "Utwórz stoły"

