%h1
  Edycja profilu użytkownika

= semantic_form_for @user do |f|
  = f.input :name, :label => "Imię:"
  = f.input :surname, :label => "Nazwisko:"
  = f.input :birthday, :label => "Data urodzenia:"
  = f.input :city, :label => "Miasto:"
  = f.input :description, :label => "Twój opis:", :input_html => {:rows => 3}
  = f.input :best_club, :label => "Twój ulubiony klub:", :as => :select, :collection => Club.all.map { |c| [c.name]}
  = f.input :picture, :label => "Avatar (link):"
  = f.input :email, :label => "Email:"
  = f.input :password, :label => "Hasło:"
  = f.input :password_confirmation, :label => "Hasło (ponownie):"
  = f.submit :value => "Zaktualizuj konto"