%h1
  Edycja konta
  = @user.login

= semantic_form_for @user do |f|
  = f.input :email, :label => "Email:"
  = f.input :password, :label => "Hasło:"
  = f.input :password_confirmation, :label => "Hasło (ponownie):"
  = f.submit :value => "Zaktualizuj konto"