%h1 Rejestracja

= semantic_form_for @user, :html => {:multipart => true} do |f|
  = f.input :login, :label => "Login:", :required => false
  = f.input :email, :label => "Email:", :required => false
  = f.input :password, :label => "Hasło:", :required => false
  = f.input :password_confirmation, :label => "Hasło (ponownie):", :required => false
  = f.submit :value => "Zarejestruj!"