%h1
  Profil

= @user.login
%br
= @user.email
%br
- if logged_admin?
  = link_to "Przydziel prawa użytkownikom", users_path
%br
= link_to "Edytuj profil", edit_user_path(@user)
- unless @user.owner
  %h1
    Jesteś właścicielem klubu bilardowego?
  = link_to "Utwórz profil właściciela", new_owner_path