%ul
  %li= link_to span_tag("Strona główna"), root_path
  %li= link_to span_tag("O nas"), about_home_index_path
  %li= link_to span_tag("Oferta"), offert_home_index_path
  %li= link_to span_tag("Cennik"), prices_home_index_path
  %li= link_to span_tag("Użytkownicy"), users_path
  - if current_user
    %li= link_to span_tag("Twoje kluby"), owner_clubs_path(current_user)
