!!! html5
%html
  %head
    %title #{"Bigballs.pl | " + @title if @title.present?}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Pontano+Sans"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "animate"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{controller.controller_name}_controller"}
    %header= render 'layouts/header'
    %nav= render 'layouts/navigation'
    %section{:class => "#{controller.action_name}_action main"}
      - if flash[:notice]
        #notice_box
          = flash[:notice]
      - elsif flash[:alert]
        #alert_box
          = flash[:alert]
      = yield
    %footer= render 'layouts/footer'